<tr id="userRow_<%= user.id %>">
  <td>
    <div class="form-check pl-1">
      <%= check_box_tag(:select_field, value = "1", checked = user.select ? true : false , class: "selected_user_id_#{user.id}", user_id: "#{user.id}") %>
    </div>
  </td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.address %></td>
  <td><%= user.contact %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu bg-primary" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to 'Show', user, class: 'dropdown-item', data: { bs_toggle: 'modal', bs_target: '#showUserModal', remote: true } %></li>
        <li><%= link_to 'Edit', edit_user_path(user), class: 'dropdown-item', data: { bs_toggle: 'modal', bs_target: '#editUserModal', remote: true } %></li>
        <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'dropdown-item' %></li>
      </ul>
    </div>
  </td>
</tr>
<script type="text/javascript">
  $('.selected_user_id_<%= user.id %>').on('click', function(){
    user_id = $(this).attr('user_id');
    $.ajax({
      url: '/select_user',
      type: 'patch',
      data: { id: user_id}
    })
  })
</script>