<tr id="clientRow_<%= client.id %>">
  <td><%= client.name %></td>
  <td><%= client.email %></td>
  <td><%= client.message %></td>
  <td><%= link_to 'Show', client %></td>
  <td><%= link_to 'Edit', edit_client_path(client) %></td>
  <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?', remote: true } %></td>
</tr>
